
/* Utils
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@mixin skrim ($col-start, $col-end, $col-fallback: $col-start, $top: false, $size: 30vh) {
  @include linear-gradient($col-start, $col-end, $fallback: $col-fallback);
  content: '';
  height: $size;
  left: 0;
  position: absolute;
  width: 100%;

  @if $top == true {
    top: 0;
  } @else {
    bottom: 0;
  }
}
