
/* Slides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slides {
  border: 1px solid $black;
  height: 50vh;
  line-height: 50vh;
  text-align: center;
  width: 100%;
}

.slides-nav {
  bottom: 0;
  left: 0;
  padding-left: 2*$base-spacing;
  position: absolute;
  width: 100%;
  z-index: 1;

  &__item {
    color: lighten($black, 25%);
    cursor: pointer;
    display: inline-block;
    font-family: $header-font;
    font-size: 2rem;
    line-height: 2;
    text-align: center;
    width: 3*$base-spacing;

    &.active {
      color: $black;
    }
  }
}
