
/* Slides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.slide {
  color: $white;
  height: 50vh;
  text-align: center;
  position: relative;
  width: 100%;

  &--hexagon {
    background-image: url('../img/hexellence-dark.png');
    background-size: 148px 172px;
    color: $black;

    @include hidpi(1.5) {
      background-image: url('../img/hexellence-dark-@2X.png');
    }
  }

  &--strong {
    background-image: url('../img/strong.jpg');
    background-position: center 30%;
    background-size: cover;
  }

  &--thin {
    background-image: url('../img/thin.jpg');
    background-position: center 20%;
    background-size: cover;
  }

  &--electrons {
    background-image: url('../img/electrons.svg');
    background-position: center;
    background-size: cover;
  }

  &--conductor {
    background-image: url('../img/conductor.jpg');
    background-position: center;
    background-size: cover;
  }


  &__body {
    @include transform(translateY(-50%));
    position: relative;
    top: 50%;
  }
}

.slides-nav {
  background-color: $black;
  bottom: 0;
  left: 0;
  margin-left: 3*$base-spacing;
  position: absolute;
  width: auto;
  z-index: 1;

  &__item {
    color: lighten($black, 25%);
    cursor: pointer;
    display: inline-block;
    font-family: $header-font;
    font-size: 2rem;
    font-weight: $header-font-weight;
    line-height: 3*$base-spacing;
    text-align: center;
    width: 3*$base-spacing;

    &.active {
      color: $white;
    }
  }
}

.electron-box {
  background-color: $black;
  border: 10px solid $white;
  color: $white;
  padding: 4*$base-spacing;
  margin: 0 auto;
  max-width: 640px;
}
