
/* Big Type
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.big-type {

  &__line {
    display: block;
    font-size: 10vw;
    letter-spacing: 0.1vw;
    margin: 0;
    text-transform: uppercase;

    &--offset {
      margin-left: 12*$base-spacing;
    }
  }
}

.carbon {
  $carbon-size: 1.2 * 10vw * 1.5;
  border: 6px solid $black;
  font-family: $header-font;
  font-size: $carbon-size;
  height: $carbon-size;
  left: 1.2 * 10vw * 0.25;
  line-height: 1;
  position: absolute;
  top: 1.2 * 10vw * 1.25;
  width: $carbon-size;
}

.u-padding-extra {
  padding: 4*$base-spacing;
}

